<table>
  <tr>
    <th>ID</th>
    <th>名前</th>
    <th>password</th>
    <th>email</th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.id %></td>
    <td><%= user.name %></td>
    <td><%= user.password %></td>
    <td><%= user.email %></td>
  </tr>
<% end %>
</table>